*{
    margin: 0;
    padding:0;
    box-sizing: inherit;
    font-family: myptsan;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 .8rem;
}

a{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
}

@font-face {
	font-family: myptsan;
	src: url(ptsans.woff);
}

@font-face {
	font-family: mypacifico;
	src: url(pacifico.woff);
}

/* ==============================  Message ==============================*/
.annoucement{
    margin: 1rem 1rem;
    width: auto;
    position: absolute;
    top: 0;
    z-index: 100;
    animation: slide 1.5s linear;
}

.annoucement2{
    margin: 5rem 1rem;
    width: auto;
    position: absolute;
    top: 0;
    z-index: 100;
    animation: slide 1.5s linear;
}

@keyframes slide{
    from{
        left:-40rem;
    }
    to{
        left:0rem;
    }
}

.message, .message2{
    background-color: var(--egg-blue);
    width: 25rem;
    height: 10rem;
    border-radius: .5rem;
    box-shadow: .1rem .2rem .5rem var(--black-color);
}

.message span, .message2 span{
    margin: .2rem .2rem;
    font-size: 3rem;
    color: var(--gallery-color);
}

.message b, .message2 b{
    font-size: 1.2rem;
    margin-left: 1rem;
}

/* ==============================  Header ==============================*/

.header__menu__giohang{
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index: 100;
    background-color: var(--black-color);
}

.header__menu__giohang img{
    height: 7rem;
}

.nav__menu{
    text-align: right;
    line-height: 7rem;
}

.nav__menu li a.active{
    color: var(--active-color);
}

.nav__menu li a:hover{
    color: var(--active-color);
    transition: all .3s ease;
}

.nav__menu li a.hotline{
    padding: .4rem .5rem;
    font-size: 1.6rem;
    font-weight: 300;
    background: none;
    border-radius: .5rem;
    color: var(--text-color);
    border: .2rem solid var(--text-color);
    transition: all .3s ease;
}

.nav__menu li a.hotline:hover{
    background-color: var(--white-color);
    color: var(--active-color);
    cursor: pointer;
}

.nav__menu li a i{
    font-size: 2.6rem;
}

.show-on-tablet{
    display: none;
}

.menu-icon{
    height: 0;
    text-align: left;
    font-size: 2.6rem;
    color: var(--text-color);
    display: none;
    position: relative;
    top:-5rem;
    left:90%;
    cursor: pointer;
}

.menu-icon:hover{
    color: var(--active-color);
}

.overlay{
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    display: none;
    animation: Opa ease-in-out .15s;
}

@keyframes Opa{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.sub-menu{
    position: absolute;
    top: 0;
    right:0;
    width: 30rem;
    height: 100vh;
    background-color: var(--black-color);
    display: none;
    transform-origin: 80% 10%;
    animation: Scale ease-in .2s;
}

@keyframes Scale{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(100%);
    }
}

.sub-menu ul{
    display: flex;
    flex-direction: column;
    margin: 4rem 4rem;
}

.sub-menu ul li{
    margin: 1rem 0;
}

.sub-menu li a{
    font-size: 3.6rem;
}

.sub-menu li a:hover{
    color: var(--active-color);
}

.close-menu{
    position: absolute;
    top:1rem;
    right: 2rem;
}

.close-menu i{
    font-size: 2.6rem;
    color: var(--text-color);
    cursor: pointer;
}

.close-menu i:hover{
    color: var(--active-color);
}

/* ==============================  Cart ==============================*/
.bill-title{
    text-align: center;
    margin-top: 5rem;
}

#userbill{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--active-color);
}

.table__cart{
    width:100%;
    margin-top: 1rem;
    height: auto;
    border: .4rem solid var(--black-color);
    border-radius: 1rem;
}

.table__cart tr{
    margin: .5rem 0;
}

.table__cart th, td{
    font-size: 1.8rem;
    font-weight: 500;
}

.table__cart td{
    text-align: center;
}

#btnXoa{
    padding: .1rem .5rem;
    background-color: var(--active-color);
    color: var(--black-color);
    font-weight: 600;
    border-radius: .5rem;
}

#btnDat{
    padding: .1rem .5rem;
    background-color: var(--button-color);
    color: var(--black-color);
    font-weight: 600;
    border-radius: .5rem;
}

.table__cart__title{
    text-align: left;
    font-size: 2.2rem;
    font-weight: 600;
}

.checkout__btn__inner{
    margin-top: 2rem;
    overflow: auto;
    display: table;
}

.gray__btn{
    padding: .5rem 1.5rem;
    color: var(--black-color);
    font-weight: 500;
    border: .1rem solid var(--electron-blue);
    background-color: var(--egg-blue);
    border-radius: 2rem;
    margin-right: 1rem;
}

.primary__btn{
    padding: .5rem 1.5rem;
    color: var(--black-color);
    font-weight: 500;
    background-color: var(--blur-ple);
    border-radius: 2rem;
}

/* ==============================  Footer ==============================*/

.footer{
    margin-top: 2rem;
    background-color: var(--black-color);
}

.footer-left p{
	font-size: 1.6rem;
	color: var(--text-color);
	padding-top: 2rem;
	padding-left: 2rem;
}

.footer-right{
	height: 17rem;
}

.footer-right p{
	font-size: 1.6rem;
	color: var(--text-color);
	padding-top: 2rem;
	padding-left:48%;
}

.footer-right img{
    padding-left:47%;
    margin-top: 1rem;
}